<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
</head>
<body>
<div th:insert="fragments/header :: modelheader"></div>
<div class="container boxgeral">


    <div class="list-group">
        <a href="../clientes/cadastrar-cliente" class="list-group-item list-group-item-action">Cadastrar Cliente</a>

        <a href="../produtos/cadastrar" class="list-group-item list-group-item-action">Cadastrar Produto</a>
    </div>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>

</body>


</html>