<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>

</head>
<body>
<div th:insert="fragments/header :: modelheader"></div>
<div class="container boxgeral">


    <div class="list-group">
        <a href="clientes/list" class="list-group-item list-group-item-action">Consultar Clientes</a>
        <a href="produtos/listar" class="list-group-item list-group-item-action">Consultar Produtos</a>
    </div>
</div>
<div th:insert="fragments/footer :: modelfooter"></div>

</body>


</html>