<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"  th:fragment="modelheader">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <title>Beco Diagonal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--box icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        img {
            width: 50px;
            height: 50px;
            position: relative;
            top: 20%;
            left:5%;


        }

    </style>
</head>

<body class="jumbotron">
<div >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--Buscar
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>-->
        <img  src="https://geekhere.vteximg.com.br/arquivos/ids/157152-260-260/10064684_000.png?v=637661151511500000" alt="Gryffindor, Hufflepuff, Ravenclaw, Slytherin">

        <div class="container-fluid" style="position: absolute;left: 9%">
            <a class="navbar-brand" href="../../home">Beco Diagonal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="../../cadastros">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="../../consultas">Consultar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="../../vendas/carrinho">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="../../vendas/list">Compras Finalizadas</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <hr/>



